#home-header{
    color: whitesmoke;
    z-index: 2;
    min-height: 80px;
    transition: color .8s ease-in-out;
    width: 100%;
}

#home-header-brand{
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#home-navbar{
    padding-right: 20px;
    font-size: 18px;
    right: 0;
}

#home-navbar li{
    padding: 12px;
}

#home-navbar .tr-navbar-item-underline{
    width: calc(100% - 24px);
    top: calc(50% + 30px);
}

/*#home-navbar li:after{*/
    /*display:block;*/
    /*content: '';*/
    /*transition: transform 250ms linear;*/
    /*border-bottom: 2px red solid;*/
    /*transform: scaleX(0);*/
/*}*/

/*#home-navbar li:hover:after {*/
    /*transform: scaleX(1);*/
/*}*/

#home-navbar a{
    color: whitesmoke;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

#home-navbar a:hover{
    color: #ff66ff;
}

#home-header .tr-navbar-opener,#home-header .tr-navbar-closer{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    right: 5px;

}

/*@media (max-width: 600px){*/
    /*#home-header .tr-navbar-opener,#home-header .tr-navbar-closer{*/
        /*padding-right: 5px;*/
    /*}*/
/*}*/

#home-header .tr-collapsed-navbar-menu{
    top: 80px;
}

#home-main-section{
    background-image: url('../home-background.png');
    background-size: 100%;
    color: whitesmoke;
    padding-bottom: 70px;
}

#home-main-text{
    padding-top: 60px;
    text-align: center;
    margin-bottom: 30px;
}

#home-main-text h1{
    font-size: 50px;
}

@media (max-width: 600px){
    #home-main-section{
        padding-bottom: 30px;
    }
    #home-main-text{
        margin-left: 10px;
        margin-right: 10px;
    }
}


#home-button-group{
    text-align: center;
}

#home-button-group a{
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    margin: 10px;
    border: solid whitesmoke 1px;
    font-size: 20px;
    min-width: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: color .2s ease-in-out;
}

#home-button-group a:hover{
    background-color: whitesmoke;
    color: darkred;
}

#home-footer{
    text-align: center;
    font-size: 15px;
    margin-top: 70px;
}

.tr-home-introduction{
    overflow: auto;
    margin: 10px;
    margin-top: 50px;
}
.tr-home-introduction img{
    float: right;
    margin-left: 100px;
    border-radius: 50%;
    border: solid darkred 2px;
    width: 200px;
    height: auto;
}

.tr-home-introduction p{
    padding-top: 50px;
}

@media (max-width: 600px){
    .tr-home-introduction img{
        display: none;
    }

    .tr-home-introduction p{
        padding-top: 0;
    }
}



