#course-main-section{
    background-color: #F5F8FA;
    padding-top: 80px;
    padding-bottom: 70px;
}

#course-header{
    height: 350px;
    background-position: center;
    position: relative;
}

#course-name{
    color: white;
    font-size: 50px;
    max-width: 75%;
    text-align: center;
}

#course-details{
    padding-top: 10px;
}

#course-creator h4{
    display: inline-block;
}

#course-info .tr-course-info-box{
    margin-top: 15px;
}

.tr-course-info-box{
    border: 2px gray solid;
    font-size: 18px;
    height: 80px;
    position: relative;
    padding-top: 40px;
    text-align: center;
}

.tr-course-info-box-content{
    transform: translate(0,-50%);
}

#course-material-list{
    padding-top: 40px;
    font-size: 18px;
}

#course-material-list li{
    min-height: 200px;
    margin-bottom: 10px;
}

.tr-course-material{
    padding-top: 80px;
    position: relative;
}

.tr-course-material-ordinal{
    min-width: 150px;
    height: 50px;
    background-color: skyblue;
    color: white;
    border-radius: 50px 15px 5px;
    position: absolute;
    top: 5px;
    left: -30px;
    text-align: center;
    z-index: 2;
}

.tr-question-board{
    height: 500px;
    overflow: scroll;
    border-radius: 10px;
    border: 2px gray solid;
}

.tr-question-board .badge{
    margin-right: 5px;
    color: white;
    background-color: red;
}

.tr-question-label{
    text-align: center;
    font-size: 16px;
}

.tr-course-question{
    background-color: white;
    border-radius: 20px;
    margin: 0 10px;
    padding: 15px 5px;
}
.tr-course-question .row{
    margin: 15px 0;
}

.tr-question-editor{
    padding: 70px 50px;
}

.tr-question-editor input{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.tr-question-editor textarea{
    margin: 30px 0;
}

.tr-course-full-screen-message{
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    z-index: 3;
}

.tr-course-material-shade{
    background-image: url("../dark-blur-blurred-gradient.jpg");
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.tr-post-complete a{
    display:inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 15px;
}

div[tr-course-completion-message] {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: black;
    opacity: .8;
    color: white;
    display: none;
}

.tr-completion-message-closer{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: white;
    color: black;
    font-size: 30px;
    border-radius: 20px;
}

a[class~="tr-comment-button"]{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    background-color: limegreen;
    color: white;
}

#course-creator span{
    margin-right: 20px;
}
