/* Override bootstrap row class */
.row{
    margin: 0;
}

.tr-fixed-top{
    position: fixed;
    top: 0;
}

.tr-vertical-center{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.tr-horizontal-center{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.tr-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 600px){
    .tr-large-device-content{
        display: none;
    }
    .tr-small-device-content{
        display: block;
    }
}

@media (min-width: 600px){
    .tr-large-device-content{
        display: block;
    }
    .tr-small-device-content{
        display: none;
    }
}

ul[class~="tr-navbar"], ul[class~="tr-tablist"]{
    list-style-type: none;
}

.tr-navbar > li{
    display: inline-block;
    position: relative;
}

.tr-navbar .tr-navbar-item-underline{
    position: absolute;
    min-height: 3px;
    border-radius: 3px;
    background-color: red;
    display: none;
}

/*fixed under the fixed navbar*/
.tr-collapsed-navbar-menu{
    display: none;
    position: fixed;
    width: 100%;
}

.tr-collapsed-navbar-menu a{
    text-decoration: none;
    color: black;
}

.tr-collapsed-navbar-menu .list-group-item{
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 18px;
    background-color: white;
    border-top: hidden;
    border-bottom: lightgray solid 2px;
}

.tr-navbar-closer{
    display: none;
}

.tr-nav-header{
    min-height: 70px;
    background-color: white;
    color: red;
    width: 100%;
    z-index: 2;
    opacity: .9;
}

.tr-nav-brand a{
    padding-left: 30px;
    font-size: 30px;
    color: red;
    text-decoration: none;
}

.tr-nav-header .tr-navbar{
    right: 0;
    font-size: 18px;
    padding: 30px;
}

.tr-nav-header .tr-navbar-opener, .tr-nav-header .tr-navbar-closer{
    color: red;
    text-decoration: none;
    font-size: 25px;
    right: 5px;
}

.tr-nav-header .tr-collapsed-navbar-menu{
    top: 70px;
}

.tr-nav-header .tr-navbar li{
    padding: 10px;
}

.tr-nav-header .tr-navbar a{
    color: red;
    text-decoration: none;
}

.tr-nav-header .tr-navbar .tr-navbar-item-underline{
    width: calc(100% - 20px);
    top: calc(50% + 20px);
}

.tr-tab-content{
    display: none;
}


.tr-message-box{
    text-align: center;
}

.tr-message-box a{
    color: white;
    width: 30%;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.tr-failure-message{
    background-color: #D64242;
}

.tr-success-message{
    background-color: #14D519;
}