.tr-fixed-top{
    position: fixed;
    top: 0;
}

@media (max-width: 600px){
    .tr-large-device-content{
        display: none;
    }
    .tr-small-device-content{
        display: block;
    }
}

@media (min-width: 600px){
    .tr-large-device-content{
        display: block;
    }
    .tr-small-device-content{
        display: none;
    }
}

ul[class~="tr-navbar"]{
    list-style-type: none;
}

.tr-navbar > li{
    display: inline-block;
    position: relative;
}

.tr-navbar .tr-navbar-item-underline{
    position: absolute;
    top: calc(50% + 30px);
    min-height: 3px;
    border-radius: 3px;
    background-color: red;
    display: none;
}

.tr-vertical-center{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}

/*fixed under the fixed navbar*/
.tr-hidden-navbar-menu{
    display: none;
    position: fixed;
    width: 100%;
}

.tr-hidden-navbar-menu a{
    text-decoration: none;
    color: black;
}

.tr-hidden-navbar-menu .list-group-item{
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 18px;
    background-color: white;
    border-top: hidden;
}

.tr-navbar-closer{
    display: none;
}
