<header tr-home-header
        class="tr-fixed-top"
        id="home-header">
    <span id="home-header-brand">
            Trainly
        </span>
    <ul id="home-navbar" class="tr-large-device-content tr-navbar tr-vertical-center">
        <li>
            <a href="#!/statistics">
                Statistics
                <div class="tr-navbar-item-underline">
                </div>
            </a>
        </li>
        <li ng-show="!model.user">
            <a href="#!/login">
                Log In
                <div class="tr-navbar-item-underline">
                </div>
            </a>
        </li>
        <li ng-show="model.user">
            <a href="#!/user">
                My Profile
                <div class="tr-navbar-item-underline">
                </div>
            </a>
        </li>
        <li ng-show="model.user">
            <a href="" ng-click="model.logout()">
                Log Out
                <div class="tr-navbar-item-underline">
                </div>
            </a>
        </li>
    </ul>
    <span tr-small-device-navbar>
             <a href="" class="glyphicon glyphicon-menu-hamburger tr-navbar-opener tr-vertical-center"></a>
             <a href="" class="glyphicon glyphicon-remove tr-navbar-closer tr-vertical-center"></a>
             <ul class="list-group tr-collapsed-navbar-menu">
                 <li class="list-group-item">
                     <a href="#!/statistics">
                         Statistics
                     </a>
                 </li>
                 <li class="list-group-item" ng-show="!model.user">
                     <a href="#!/login">
                         Log In
                     </a>
                 </li>
                 <li class="list-group-item" ng-show="model.user">
                     <a href="#!/user">
                         My Profile
                     </a>
                 </li>
                 <li class="list-group-item" ng-show="model.user">
                     <a href="" ng-click="model.logout()">
                         Log Out
                     </a>
                 </li>
             </ul>
         </span>
</header>
<section id="home-main-section">
    <div class="row" >
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="home-main-text">
            <!--Display this content in large windows-->
            <h1 class="tr-large-device-content">
                <b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                </b>
            </h1>

            <!--Display this content in small windows-->
            <h2 class="tr-small-device-content">
                <b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                </b>
            </h2>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div id="home-button-group">
        <div class="tr-large-device-content">
            <a href="#!/register">Sign Up</a>
            <a href="#!/search">Find a Course</a>
        </div>
        <div class="tr-small-device-content">
            <div>
                <a href="#!/register">Sign Up</a>
            </div>
            <div>
                <a href="#!/search">Find a Course</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 tr-home-introduction">
            <img src="../../avatar.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>

</section>

<hr>

<section>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 tr-home-introduction">
            <img src="../../avatar.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>

<div style="text-align: center">
    <a href="#!/user">User</a>
    <a href="#!/course">Course</a>
</div>

<footer id="home-footer">
    CS5200 Northeastern Universt Fall 17 Project <br>
    &copy Amrit Bhatia, Zhe Chen, Janhavi Suresh Mahajan, Bowen Zhang
</footer>

<div style="display: none">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

