<header class="tr-fixed-top-header" tr-set-min-height="80px">
    <span id="home-header-brand">
        Trainly
    </span>
    <ul id="home-navbar">
        <li>
            <a href="">
                Statistics
            </a>
        </li>
        <li>
            <a href="">
                Log in
            </a>
        </li>
    </ul>
</header>
<section id="home-main-section">
    <div class="row" >
        <div class="col-sm-3"></div>
        <div class="col-sm-6" id="home-main-text">
            <h1>
                <b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                </b>
            </h1>
            <!--<h2>-->
                <!--<b>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.-->
                <!--</b>-->
            <!--</h2>-->
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">

    </div>
</section>

<section>

</section>

<hr>

<section>

</section>

