<div class="row">
    <div class="col-sm-2 hidden-xs tr-course-list-img">
        <img ng-src="{{course.icon}}">
        <ng-rate-it ng-model="course.avgRating" read-only="true"></ng-rate-it>
    </div>
    <div class="col-sm-7 tr-course-list-info">
        <h5><b>{{course.primaryTopic}}</b></h5>
        <h4>{{course.name}}</h4>
        <div ng-show="course.secondaryTopic">Related topic: {{course.secondaryTopic}}</div>
    </div>
    <div class="col-sm-3 tr-course-list-date">
        <h5>{{course.eventTime}}</h5>
        <a href="#!/course/{{course.id}}">View</a>
    </div>
</div>