<nav class="tr-nav-header" id="statistics-header">
    <span class="tr-vertical-center tr-nav-brand">
        <a href="#!/"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
    </span>
</nav>

<section id="statistics-main-section">
    <ol class="tr-report-list">
        <li>How active each professor is in the course (based on how many questions each professor has answered)</li>
        <li>A review on a professor's courses</li>
        <li>How much the students spend on video courses</li>
        <li>Course Topics and their popularity</li>
        <li>The most popular professor</li>
    </ol>
</section>