<!--<html>-->
<!--<body ng-controller="RegisterController">-->
<!--<div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>-->
<!--<h1 class="page-header">Register</h1>-->

<!--<form class="form-horizontal">-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="firstName">First Name</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="First Name"-->
                   <!--id="firstName" ng-model="model.user.firstName" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="lastName">Last Name</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Last Name"-->
                   <!--id="lastName" ng-model="model.user.lastName" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="email">Email</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="email" class="form-control" placeholder="youremail@domain.com"-->
                   <!--id="email" ng-model="model.user.email">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="phone1">Phone 1</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Phone 1"-->
                   <!--id="phone1" ng-model="model.user.phone1" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="phone2">Phone 2</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Phone 2"-->
                   <!--id="phone2" ng-model="model.user.phone2" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="phone3">Phone 3</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Phone 3"-->
                   <!--id="phone3" ng-model="model.user.phone3" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="city">Phone 4</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Phone 4"-->
                   <!--id="phone4" ng-model="model.user.phone4" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="city">City</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="City"-->
                   <!--id="city" ng-model="model.user.city" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="street">Street</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Street"-->
                   <!--id="street" ng-model="model.user.street" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="country">Country</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Country"-->
                   <!--id="country" ng-model="model.user.country" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="postalcode">Postal Code</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="Postal Code"-->
                   <!--id="postalcode" ng-model="model.user.postalcode" >-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="password">Password</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="password" class="form-control" placeholder="Password"-->
                   <!--id="password" ng-model="model.user.password">-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="profilePicture">Profile Picture</label>-->
        <!--<div class="col-sm-10">-->
            <!--&lt;!&ndash;<input type="file" class="form-control"&ndash;&gt;-->
                   <!--&lt;!&ndash;id="profilePicture">&ndash;&gt;-->
            <!--<input type="file" id="profilePicture" ng-model="model.profilePicture">-->

        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label">Role</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="checkbox" class="form-control" id="isFaculty" ng-model="model.user.isFaculty">Faculty-->
            <!--<input type="checkbox" class="form-control" id="isAdmin" ng-model="model.user.isAdmin">Admin-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
            <!--<a ng-click="model.register(model.user,model.profilePicture)" class="btn btn-primary form-control" role="button">Register</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</form>-->
<!--</body>-->
<!--</html>-->

<div>
    <div class="tr-register-tab tr-horizontal-center">
        <div class="tr-login-header">
            Sign up for an account
        </div>
        <hr>
        <div class="alert alert-danger" ng-show="model.message">
            {{model.message}}
        </div>
        <form class="form-horizontal" ng-submit="model.register(model.user)">
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="model.user.username" required />
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="model.user.password" required />
                </div>
            </div>

            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="model.user.firstName" required />
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="model.user.lastName" required />
                </div>
            </div>

            <div class="form-group">
                <label for="street" class="col-sm-2 control-label">Street</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="street" placeholder="Street" ng-model="model.user.street">
                </div>
            </div>

            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="city" placeholder="St" ng-model="model.user.city">
                </div>
            </div>

            <div class="form-group">
                <label for="country" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="country" placeholder="Country" ng-model="model.user.country">
                </div>
            </div>

            <div class="form-group">
                <label for="postalCode" class="col-sm-2 control-label">Postal Code</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="postalCode" placeholder="Postal Code" ng-model="model.user.postalCode">
                </div>
            </div>

            <div style="text-align: left">
                <input type="checkbox" id="is-faculty" ng-model="model.user.isFaculty" ng-true-value="true" ng-false-value="false"/>
                <label for="is-faculty">Register as faculty</label>
            </div>

            <div ng-show="model.user.isFaculty">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="model.user.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="affiliation" class="col-sm-2 control-label">Affiliation</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="affiliation" placeholder="Affiliation" ng-model="model.user.affiliation">
                    </div>
                </div>
                <div class="form-group">
                    <label for="work-website" class="col-sm-2 control-label">Work Website</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" id="work-website" placeholder="Work Website" ng-model="model.user.workWebsite">
                    </div>
                </div>

            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="phone1">Phone 1</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Phone 1"
            id="phone1" ng-model="model.user.phone1" >
            </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="phone2">Phone 2</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Phone 2"
            id="phone2" ng-model="model.user.phone2" >
            </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="phone3">Phone 3</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Phone 3"
            id="phone3" ng-model="model.user.phone3" >
            </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="city">Phone 4</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Phone 4"
            id="phone4" ng-model="model.user.phone4" >
            </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Profile Picture</label>
                <div class="col-sm-10">
                    <!--<input type="file" class="form-control"-->
                    <!--id="profilePicture">-->
                    <!--<input type="file" id="profilePicture" ng-model="model.user.profilePicture">-->

                    <input type="file" fileread="vm.uploadme" />

                </div>
            </div>

            <input type="submit" class="btn btn-block btn-primary" value="Sign Up">
        </form>
        <a href="#!/">Back to Main Page</a>
    </div>
</div>
