<ng-include src="'views/common/nav-header.html'"></ng-include>

<section id="profile-main-section"
         tr-profile-tab>


    <div id="profile-pic">
        <img src="avatar.png" class="tr-horizontal-center">
    </div>

    <div id="profile-tablist-bar"
         class="row tr-large-device-content">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9" >
            <!--<ul class="tr-tablist">-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--Enrolled-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--Completed-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--Interested-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <div id="profile-tablist">
                <a href=""
                   data-target="#enrolled"
                   class="tr-tab tr-active">
                    Enrolled
                </a>
                <a href=""
                   data-target="#completed"
                   class="tr-tab">
                    Completed
                </a>
                <a href=""
                   data-target="#interested"
                   class="tr-tab">
                    Insterested
                </a>
                <a href=""
                   data-target="#created"
                   class="tr-tab">
                    Created
                </a>
                <a href=""
                   data-target="#pending"
                   class="tr-tab">
                    Pending Validation
                </a>
                <a href=""
                   data-target="#all-users"
                   class="tr-tab">
                    All Users
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" id="user-information">
            <div id="info-name">
                <b>
                    First Name Last Name
                </b>
            </div>
            <div id="info-email">
                first@group17.com
            </div>
            <div>
                <a id="role-faculty">
                    Faculty
                </a>
            </div>
            <div id="info-faculty">
                Title <br>
                Affiliation <br>
                Work Website <br>
                Validated by Admin on <br>
            </div>
            <div>
                <a id="role-admin">
                    Admin
                </a>
            </div>
            <div id="info-admin">
                Granted by Admin on
            </div>
            <div id="info-address">
                Street, State, Postal code <br>
                Country
            </div>
            <div id="info-phone">
                12345678910
            </div>
        </div>
        <div class="col-sm-6">
            <div id="profile-tabpane">

                <ul class="list-group tr-tab-content tr-active"
                    id="enrolled"
                    data-tab-type="list">
                    <a href="">
                        <li class="list-group-item">
                            enr
                        </li>
                    </a>
                </ul>

                <ul class="list-group tr-tab-content"
                    id="completed"
                    data-tab-type="list">
                    <a href="">
                        <li class="list-group-item">
                            comp
                        </li>
                    </a>
                </ul>

                <ul class="list-group tr-tab-content"
                    id="interested"
                    data-tab-type="list">
                    <a href="">
                        <li class="list-group-item">
                            int
                        </li>
                    </a>
                </ul>

                <ul class="list-group tr-tab-content"
                    id="created"
                    data-tab-type="list">
                    <a href="">
                        <li class="list-group-item">
                            cre
                        </li>
                    </a>
                </ul>

                <ul class="list-group tr-tab-content"
                    id="pending"
                    data-tab-type="list">
                    <a href="">
                        <li class="list-group-item">
                            pen
                        </li>
                    </a>
                </ul>

                <ul class="list-group tr-tab-content"
                    id="all-users"
                    data-tab-type="normal">
                    <a href="">
                        <li class="list-group-item">
                            all
                        </li>
                    </a>
                </ul>

            </div>

        </div>
        <div class="col-sm-3" >
            <div id="account-history">
                <div id="account-history-header">
                    <b>Account History</b>
                </div>
                <div id="total-spent">
                    Total Spent:
                </div>
                <hr>

            </div>
        </div>
    </div>
</section>
