<ng-include src="'views/common/nav-header.html'"></ng-include>

<section id="profile-main-section"
         tr-profile-tab>


    <div id="profile-pic">
        <img src="avatar.png" class="tr-horizontal-center">
    </div>

    <div id="profile-tablist-bar"
         class="row tr-large-device-content">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9" >
            <!--<ul class="tr-tablist">-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--Enrolled-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--Completed-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--Interested-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <div id="profile-tablist">
                <a href=""
                   data-target="#enrolled"
                   class="tr-tab tr-active">
                    Enrolled
                </a>
                <a href=""
                   data-target="#completed"
                   class="tr-tab">
                    Completed
                </a>
                <a href=""
                   data-target="#interested"
                   class="tr-tab">
                    Insterested
                </a>
                <a href=""
                   data-target="#created"
                   class="tr-tab">
                    Created
                </a>
                <a href=""
                   data-target="#pending"
                   class="tr-tab">
                    Pending Validation
                    <span class="badge">10</span>
                </a>
                <a href=""
                   data-target="#all-users"
                   class="tr-tab">
                    All Users
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" id="user-information">
            <div id="info-name">
                <b>
                    First Name Last Name
                </b>
            </div>
            <div id="info-email">
                first@group17.com
            </div>
            <div>
                <a id="role-faculty">
                    Faculty
                </a>
            </div>
            <div id="info-faculty">
                Title <br>
                Affiliation <br>
                Work Website <br>
                Validated by Admin on <br>
            </div>
            <div>
                <a class="tr-role-admin">
                    Admin
                </a>
            </div>
            <div id="info-admin">
                Granted by Admin on
            </div>
            <div id="info-address">
                Street, State, Postal code <br>
                Country
            </div>
            <div id="info-phone">
                12345678910
            </div>
        </div>
        <div class="col-sm-6">
            <div id="profile-tabpane">

                <ul class="list-group tr-tab-content tr-active"
                    id="enrolled"
                    data-tab-type="list">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs tr-course-list-img">
                                <img src="avatar.png">
                                <ng-rate-it ng-model="4" read-only="true"></ng-rate-it>
                            </div>
                            <div class="col-sm-7">
                                <h5><b>Primary Topic</b></h5>
                                <h4>Course Name</h4>
                                <div>With First name last name</div>
                                <div>Related topic: secondary topic</div>
                            </div>
                            <div class="col-sm-3 tr-course-list-date">
                                <h5>Dec 3, 2017</h5>
                                <a>View</a>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="list-group tr-tab-content"
                    id="completed"
                    data-tab-type="list">

                </ul>

                <ul class="list-group tr-tab-content"
                    id="interested"
                    data-tab-type="list">

                </ul>

                <ul class="list-group tr-tab-content"
                    id="created"
                    data-tab-type="list">

                </ul>

                <ul class="list-group tr-tab-content"
                    id="pending"
                    data-tab-type="list">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-9">
                                <h4>First name last name </h4>
                                <h5><b>Email</b></h5>
                                Title <br>
                                Affiliation <br>
                                Work Website <br>
                            </div>
                            <div class="col-xs-3 tr-validation-options">
                                <a class="tr-validation-true">
                                    Validate
                                </a>
                                <a class="tr-validation-false">
                                    Disapprove
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>

                <div class="tr-tab-content"
                     id="all-users"
                     data-tab-type="normal">
                    <div class="col-xs-4 tr-user-profile">
                        <img src="avatar.png" class="tr-horizontal-center">
                        <div class="tr-user-profile-info">
                            UserId <br>
                            <b>Name</b> <br>
                            Email <br>
                            <div>
                                <a class="tr-role-admin">
                                    Admin
                                </a>
                            </div>

                            <div>
                                <a class="tr-grant-option">
                                    Grant Admin Power
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!--<ul class="list-group tr-tab-content">-->
                    <!--<li>-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-3">-->
                                <!--User ID-->
                            <!--</div>-->
                            <!--<div class="col-xs-3">-->
                                <!--Name-->
                            <!--</div>-->
                            <!--<div class="col-xs-3">-->
                                <!--Email-->
                            <!--</div>-->
                            <!--<div class="col-xs-3">-->
                                <!--Admin Power-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->

            </div>

        </div>
        <div class="col-sm-3" >
            <div id="account-history">
                <div id="account-history-header">
                    <b>Account History</b>
                </div>
                <div id="total-spent">
                    Total Spent:
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <i>2017-12-03</i>
                    </div>
                    <div class="col-xs-8">
                        dalsfjadsklj dafdsf adfadsf
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
